*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'Bebas Neue', cursive, sans-serif;
}

.top-area{
    background-color: rgba(255, 3, 66, 0.035);
    padding: 0 15px;
}

.cart-img{
    width: 30px;
    height: 25px;
}

/* Navbar */

.logo{
    padding-top: 10px;
    min-width: 60%;
    max-width: 75%;
}

.nav-menu{
    font-size: 18px;
    font-weight: 500;
    margin: 0 10px;
    color: #000 !important;
}

.nav-menu:hover{
    color: #bb0432 !important;
}

.navbar-nav .active{
    color: #FF0343 !important;
    font-weight: 600;
}

/* Banner */

.banner-area{
    padding-top: 40px;
    padding-bottom: 80px;
}

.banner-image{
    padding: 0 30px;
}

.banner-content{
    padding: 30px 10px;
}

.main-heading{
    font-family:'Bebas Neue';
    font-size: 4.6em;
}

.heading-highlight{
    font-family:'Bebas Neue';
    color: #FF0343;
}

.sub-heading{
    font-size: 1rem;
    color: #778899;
    margin-bottom: 25px;
}

.shop-btn{
    background: #FF0343;
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
    font-weight: 500;
    padding: 12px 16px;
    border-radius: 10px;
    width: 150px;
}

.shop-btn:hover{
    color: #fff;
    background: #212529;
}

/* Product Area */

.product-area{
    padding-top: 30px;
    padding-bottom: 60px;
}

.shoe-category{
font-family: 'Bebas Neue';
font-size: 48px;
margin: 10px 0;
}

.product{
    margin: 10px 5px;
}

.card{
    padding: 20px 20px 0 20px;
    margin: 5px;
    border: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 20px;
}

.product-image{
    background: #f1f1f1;
    border-radius: 20px;
}

.product-title{
    font-size: 1.5em;
    font-weight: 600;
    text-transform: capitalize;
}

.product-details{
    font-size: 1em;
    color: #3e3e3e;
}

.price{
    font-size: 2.5em;
    font-weight: 700;
    color: #212529;
}

.buy-now-btn{
    background: #FF0343;
    color: #fff;
    height: 45px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}

.buy-now-btn:hover{
    color: #fff;
    background: #212529;
}


/* Feature Area */

.features{
    padding-top: 20px;
    padding-bottom: 40px;
}

.feature-img{
    margin: 20px;
}

.feature{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 20px;
    margin: 20px 15px;
    padding: 20px 20px 10px 20px;
}

.feature-icon-box{
    padding: 10px;
}

.feature-icon{
    width: 80px;
}

.feature-content{
    padding: 5px 10px;
}

.feature-title{
    color: #363958;
    font-size: 1.5em;
    font-weight: 600;

}

.feature-description{
    color: #3E3E3E;
    font-size: 0.9em;
}


/* Newsletter */

.newsletter{
    background-color: rgba(255, 3, 66, 0.035);
    padding: 35px 8px;
}

.newsletter-subheader{
    color: #3E3E3E;
    font-size: 1.5em;
    margin: 0;
}

.newsletter-header{
    color: #363958;
    font-size: 3.2em;
    font-family: 'Bebas Neue';
}

.subscribe-form{
    padding: 0;
    margin: 20px 5px;
    background-color: #fff;
    border: 1px solid #d3d3d3;
    border-radius: 30px;
}

.subscribe-input{
    width: 100%;
    height: 45px;
    margin: 5px 15px;
    padding-left: 10px;
    border: none;
    font-size: 1em;
    font-weight: 500;
}

textarea:focus, input:focus{
    outline: none;
}

::placeholder{ 
    font-size: 1em;
    font-weight: 500; 
    color: #808080;
    padding-left: 5px;
}  

.subscribe-btn{
    background: #FF0343;
    color: #fff;
    text-align: center;
    text-decoration: none;
    width: 185px;
    padding: 10px 0;
    margin: 0 5px;
    border-radius: 30px;
}

.subscribe-btn:hover{
    color: #fff;
    background: #212529;
}

/* Footer */

footer{
    background: #212529;
    padding-top: 40px;
    color: #a9a9a9;
}

.footer-content p{
    max-width: 500px;
    margin: 10px;
    line-height: 28px;
    font-size: 1em;
}
.socials{
    list-style: none;
    margin: 1rem 0 2rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.5rem;
    transition: color .4s ease;

}
.socials a:hover i{
    color: #FF0343;
}

.footer-bottom{
    background: #1b1e20;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
    margin: 0;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: 0.6;
}